* {
    margin: 0;
}

.background {
    width: 100%;
    height: 100vh;
    background-color: #333;
    background: url(https://previews.123rf.com/images/karenr/karenr1506/karenr150600007/40831894-blue-and-white-striped-gingham-tile-pattern-repeat-background-that-is-seamless-and-repeats.jpg) 100vh / contain;
    
}

.box {
    width: 100%;
    height: 100px;
    color: #fff;
    background-color: rgb(124, 35, 35);
    padding: 16px;
    border: 2px solid #333;
    box-sizing: border-box;
}