:root {
    --text-color: rgb(211, 224, 173);
}

/* CSS Kiểu External */
h1 {
    color: red;
    font-size: 20px;
}

/* Dùng * để ghi thuộc tính chung cho toàn bộ file được nhúng */
* {
    background-color: blanchedalmond;
}

/* CSS selectors by ID, tag có ID giống sẽ bị ảnh hưởng,
gọi tên bằng cách dùng # */
#first-heading {
    color: aquamarine;
    font-size: xx-large;
}

/* CSS selectors by Class, giống ID nhưng sử dụng được cho nhiều tag,
gọi tên bằng cách dùng . */
.second-heading {
    color: var(--text-color);
    font-size: 18px;
}

/* div box */
.box {
    width: 60px;
    height: 60px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1 {
    background-color: #333;
}

.box2 {
    background-color: orange;
}

.box3 {
    background-color: firebrick;
}

/* Resize ảnh */
.anhmeo {
    width: 460.8px;
    height: auto;
}